* {
  box-sizing: border-box;
  /* font-family: 'TayFrame'; */
}

body {
  background-color: #fff8f6;
}

html, 
body,
#root,
.App {
    height: 100%;
    font-family: 'TayFrame';
}

@font-face {
  font-family: 'TayFrame';
  src: local('Ralphie'), url(./res/Ralphie.otf) format('opentype');
}
