* {
  box-sizing: border-box;
  font-family: 'Ralphie';
}

body {
  background-color: #fff8f6;
}

html, 
body,
#root,
.App {
    height: 100%;
    font-family: 'Ralphie';
}

@font-face {
  font-family: 'Ralphie';
  src: local('Ralphie'), url(./res/Ralphie.otf) format('opentype');
}
